<button class="btn btn-success"
		type="submit"
		ng-class="{ 'disabled': form.$invalid }"
		ng-click="controller.store(controller[controller['type_singular']])"
		ng-disabled="form.$invalid"
		ng-if="controller.mode == 'create'">{{ 'ui.create' | hookFilterMachineNameTranslate | hookFilterTitle }}</button>

<button class="btn btn-success"
		type="submit"
		ng-class="{ 'disabled': form.$invalid }"
		ng-click="controller.update(controller[controller['type_singular']])"
		ng-disabled="form.$invalid"
		ng-if="controller.mode == 'edit'">{{ 'ui.save' | hookFilterMachineNameTranslate | hookFilterTitle }} </button>

<!-- Cancel button -->
<button class="btn btn-warning" 
ng-click="">{{ 'ui.cancel' | hookFilterMachineNameTranslate | hookFilterTitle }}</button>